<mat-toolbar color="primary">
  <div>
    <mat-form-field appearance="fill" hideRequiredMarker="true">
      <mat-label><small>Description</small></mat-label>
      <input #code matInput placeholder="" required>
    </mat-form-field>
    <button (click)="search(code.value)" mat-icon-button>
      <mat-icon>pageview</mat-icon>
    </button>
  </div>
  <div class='holder'>
    <img alt="Calling Ninja" src="../../assets/images/logo.png" />
  </div>

  <button mat-button routerLink="/home/uploader">
    <span>Calling Ninja</span>
  </button>
  <button mat-button routerLink="/home/uploaderV2">
    <span>Uploader</span>
  </button>
  <button mat-button routerLink="/home/renderPlaintext">
    <span>Uploader_angular</span>
  </button>
  <div>


    <button (click)="login()" *ngIf="!isAuthenticated()" mat-button>
      <mat-icon>person_outline</mat-icon>
      <span>Login</span>
    </button>

    <button (click)="profiler()" *ngIf="isAuthenticated()" mat-button>
      <app-date></app-date>
      <mat-icon>account_box</mat-icon>
      <span>{{username}}</span>
      <span>Profile</span>
    </button>

    <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
      <span>{{username}}</span>
      <mat-icon>person_outline</mat-icon>
      <span>Logout</span>
    </button>
    <!--
    <button (click)="test1()"  *ngIf="isAuthenticated()" mat-button>
      <mat-icon>account_box</mat-icon>
      <span>{{username}}</span>
      <span>Test1</span>
    </button> -->

    <button (click)="cart()" mat-button>
      <mat-icon matBadge="3" matBadgeColor="accent" matBadgeOverlap="false" matBadgeSize="medium">shopping_cart
      </mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #profile="matMenu" xPosition="before">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item>
    <mat-icon>grade</mat-icon>
    <span>Reviews</span>
  </button>
  <button mat-menu-item>
    <mat-icon>shopping_basket</mat-icon>
    <span>Online Orders</span>
  </button>
  <button mat-menu-item>
    <mat-icon>money_off</mat-icon>
    <span>Refunds</span>
  </button>
  <button mat-menu-item routerLink="/home/complaints">
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
    <span>Complaints</span>
  </button>
  <button mat-menu-item routerLink="/home/points">
    <mat-icon>card_membership</mat-icon>
    <span>Points</span>
  </button>
  <button mat-menu-item>
    <mat-icon>build</mat-icon>
    <span>Technical Support</span>
  </button>
</mat-menu>

<mat-toolbar class="center">
  <button [matMenuTriggerFor]="adviser" mat-button>Adviser</button>
  <mat-menu #adviser="matMenu">
    <button mat-menu-item>Sale</button>
    <button mat-menu-item>Popular</button>
    <button mat-menu-item>New</button>
  </mat-menu>
  <button mat-button>Top 5</button>
</mat-toolbar>

<div id="queryfromnumbers" *ngIf="isAuthenticated()">
  <h1>Query your available from numbers and choose one:</h1>
  <app-queryfrom></app-queryfrom>
</div>
<div id="uploadnumbers" *ngIf="isAuthenticated()">
  <h1>Please choose your number file:</h1>
  <app-uploadnumbers></app-uploadnumbers>
</div>
<div id="audiouploader" *ngIf="isAuthenticated()">
  <h1>Please choose your audio file:</h1>
  <app-uploadaudio></app-uploadaudio>
</div>
<app-initcall></app-initcall>

<router-outlet></router-outlet>

<app-footer></app-footer>